<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="localPath" value="C:\\Users\\Abdullah\\Desktop\\dummyDirectory" />   <!-- your comment -->
    <add key="remotePath" value="/Testing" />   <!-- your comment -->
    <add key="ftpPath" value="localhost" />   <!-- your comment -->
    <add key="ftpUser" value="TestUser" />   <!-- your comment -->
    <add key="ftpPass" value="TestPass" />   <!-- your comment -->
    <add key="ftpPort" value="21" />   <!-- your comment -->
    <add key="repeatDelay" value="20000" />   <!-- your comment -->
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
