<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- POPULATE THE 'value' FOR ALL THE LINES BELOW. (for example value="Your Data") -->
    <add key="localPath" value="C:\\Users\\Abdullah\\Desktop\\dummyDirectory" />   <!-- Enter the address of the local folder (files in this folder will be copied to remote server) | (replace all instances of '/' in the address with '\\') -->
    <add key="remotePath" value="/Testing" />   <!-- Enter the path for the folder within the remote server where the files are to be copied -->
    <add key="ftpPath" value="localhost" />   <!-- Enter the FTP server IP -->
    <add key="ftpUser" value="TestUser" />   <!-- Enter the FTP server Username (replace with "" if server is not password protected) -->
    <add key="ftpPass" value="TestPass" />   <!-- Enter the FTP server Password (replace with "" if server is not password protected) -->
    <add key="ftpPort" value="21" />   <!-- Enter the FTP Server Port (it is 21 by default, unless specified by the creator of the server) -->
    <add key="repeatDelay" value="20000" />   <!-- Enter the delay for uploads in milliseconds using this formula = (time in Seconds x 1000) | (20000 means uploads are scheduled for every 20 seconds) -->
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
